
/* NavBar Responsive */

*{
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  padding: 90px 20px 0;
}

.header{
  background-color: #0769e9;
  /* referencia del alto del navbar */
  height: 80px;  
  /* lo dejo fijo arriba */
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

}

.nav{
display: flex;
justify-content: space-between;
max-width: 992px;
margin: 0 auto;



}

.nav-link{
  color: white;
  text-decoration: none;
}

.nav-menu-item{
  list-style: none;
}

.logo{
  font-size: 30px;
  font-weight: bold;
  padding: 0 40px;
  line-height: 80px;
}

.nav-menu{
  display: flex;
  margin-right: 40px;
}

.nav-menu-item{
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
}

.nav-menu-link:hover{
  background-color: #034574;
  transition: 0.5s;


}

.nav-menu-link{
  padding: 8px 12px;
  border-radius: 3px;
  transition: 0.5s;
}

.nav-menu-img{
  background-color: #0769e9;
  width: 40px;
  
}
.nav-toggle{
  background-color: #0769e9;
  display: none;
}

.nav-toggle-carrito{
  background-color: #0769e9;
}

span{
  font-size: large;
 
}

@media (max-width: 768px){

  body{
       padding: 70px 20px 0;
  }
  
  .header{
    height: 60px;  
      
  }
  
  
  .logo{
    font-size: 25px;
    line-height: 60px;
    justify-items: flex-start;
  }
  
  .nav-menu{
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    background-color: #2c3e50;
    position: fixed;
    left:0 ;
    top: 60px;
    width: 100%;
    padding: 20px 0;
    height: calc(100%-60px);
    overflow-y: auto;
  }
  
  .nav-menu-item{
    line-height: 70px;
    
  }
  
  .nav-menu-link:hover,
  .nav-menu-link_active{
    background-color: none;
    color: #83c5f7;
  
  }
  
  .nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
    transition: 0.5s;
  }
  
  .nav-menu-img{
    background-color: #0769e9;
    width: 40px;
    
  }
  .nav-toggle{
    background-color: #0769e9;
    display: none;
  }
  
  .nav-toggle-carrito{
    background-color: #0769e9;
    display: flex;
    justify-content: end;
  }

  .nav-toggle{
    display: flex;
   justify-content: end;
  }
  


}

/* ItemCount */

.button-contador{
  display: flex;
  flex-direction: row;
  
}

.button-contador-p{
  margin-left: 25px;
  margin-right: 25px;
}